$c-primary-1: #42BDB1;
$c-primary-2: #FF5539;
$c-primary-3: #9adcd5;

$c-grey-1: #999;
$c-grey-2: #777;
$c-grey-3: #333;

$c-light-1: #f7f7f7;
$c-light-2: #eee;

$c-white: #fff;
$c-black: #000;

$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;